html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    background-image: linear-gradient(rgb(107, 132, 245), rgb(9, 189, 235));
    background-repeat: no-repeat;
    overflow: hidden;
}

p {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
}

p:focus-visible {
    outline: none;
}

.entity {
    aspect-ratio: 1;
    position: absolute;
    z-index: 2
}

.player {
    background-color: red;
}

.ground {
    background-color: #1d9738;
    position: absolute;
    z-index: -1;
}

.grass {
    background-color: #1d9738;
}

.dirt {
    background-color: #614521;
}

.sand {
    background-color: #fdff7a;
}

.stone {
    background-color: #636363;
}

.text {
    background: none;
    font-family: "Noto Sans";
    font-size: xx-large;
    color: white;
    border: white solid 2px;
}

.spawn {
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
}

.edittools#outline {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    position: absolute;
    top: -4px;
    left: -4px;
    background: 
        linear-gradient(90deg, #fff 50%, transparent 50%) repeat-x,
        linear-gradient(0deg, #fff 50%, transparent 50%) repeat-y,
        linear-gradient(90deg, #fff 50%, transparent 50%) repeat-x,
        linear-gradient(0deg, #fff 50%, transparent 50%) repeat-y;
    background-size: 30px 4px, 4px 30px, 30px 4px, 4px 30px;
    background-position: left 0 top 0, left 0 top 0, right 0 bottom 0, right 0 bottom 0;
    animation: march 0.5s linear infinite;
    pointer-events: none;
}

@keyframes march {
  100% {
    background-position: left -30px top 0, left 0 top 30px, right -30px bottom 0, right 0 bottom 30px;
  }
}

.edittools#resize {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(100% - 30px);
    left: calc(100% - 30px);
    background: white;
    z-index: 2;
}

.edittools#preview {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
}

.hud {
    z-index: 5;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: all;

    #health-bar {
        background-color: #fff;
        width: 20%;
        height: 7%;

        border: black solid 5px;

        top: auto;
        left: 10px;
        bottom: 10px;

        #health-fill {
            background-color: #f00;
            width: 100%;
            height: 100%;
        }
    }

    #materials {
        display: flex;
        width: 20%;
        height: 10%;
        bottom: 0px;
        right: 0px;
        top: auto;
        left: auto;
        align-items: center;
        justify-content: space-around;

        div {
            height: 80%;
            aspect-ratio: 1;
            outline: white dashed 5px;
        }
    }
}

#hud {
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}